.DS_Store
.env
*.sh
*.json
*.tar
plugins/*.bak
plugins/appstore.lua
plugins/betaprofile.lua
plugins/muteall.lua
plugins/unmuteall.lua
plugins/onebeta.lua
plugins/broadcast.lua
plugins/recovery.lua
plugins/bugbeta.lua
plugins/bugr.lua
plugins/betaprofile.lua
plugins/coronavirus.lua
plugins/ipsw.lua
plugins/itunes.lua
plugins/porn.lua
plugins/shsh.lua
conf/configuration.lua
plugins/private/
plugins/private/*.lua
conf/.env
!install.sh
!launch.sh
!conf/
._.DS_Store
**/.DS_Store
**/._.DS_Store
configuration.lua
